# print statement

In [1]:
string1='world'

In [2]:
print('hello',string1)

hello world

In [3]:
string2='!'

In [4]:
print('hello',string1,string2)#for space

hello world !

In [5]:
print('hello'+string1+string2)#no space

helloworld!

In [6]:
print('actual number=%d'%18)

actual number=18

In [7]:
print('float number=%f'%18)

float number=18.000000

In [8]:
print('hello%s%s'%(string1,string2))

helloworld!

In [9]:
print('_A'*10)

_A_A_A_A_A_A_A_A_A_A

In [10]:
print('jan\nfeb\nmar\napr\n')

jan
feb
mar
apr

In [11]:
import pandas as pd
import numpy as np
s=pd.Series([1,2,3,4,5])
print(s)

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [12]:
import pandas as pd
import numpy as np
data=[['Alex',1000],['Arcx',1040],['Faltu',1500],['Alescdsx',4000],['Alfdex',5000]]
s=pd.DataFrame(data, columns=['Name', 'Age'])
print (s)

       Name   Age
0      Alex  1000
1      Arcx  1040
2     Faltu  1500
3  Alescdsx  4000
4    Alfdex  5000

In [13]:
d={'one':pd.Series([1,2,3,4,5], index=['a','b','c','d','e']),
    'two':pd.Series([5,6,7,8,9], index=['a','b','c','d','e'])}                                   
df=pd.DataFrame(d)
df.iloc[2]

one    3
two    7
Name: c, dtype: int64

In [14]:
df.loc['a']

one    1
two    5
Name: a, dtype: int64

In [15]:
df

   one  two
a    1    5
b    2    6
c    3    7
d    4    8
e    5    9

In [16]:
df.drop('one', axis=1
       )

   two
a    5
b    6
c    7
d    8
e    9

In [17]:
df.drop('a')

   one  two
b    2    6
c    3    7
d    4    8
e    5    9

In [18]:
import numpy as np
import pandas as pd
df=pd.DataFrame(np.random.randn(8,4),index=['a','b','c','d','e','f','g','h'], columns=['A','B','C','D'])
print(df)
df.loc[:,['A','B']]

          A         B         C         D
a  0.287160 -1.432645  0.053963 -0.095065
b  0.468578  0.503358  0.368741  1.752064
c  0.582055  0.106183 -0.287682 -1.738099
d -0.980172  1.634451  1.505566  0.693538
e -0.977462  0.573579 -1.067856  1.829195
f -1.016149  1.477980 -0.393834 -0.193319
g -0.095983 -0.973215  0.440398 -0.056604
h  0.035723 -0.087230  0.583131 -0.470056

          A         B
a  0.287160 -1.432645
b  0.468578  0.503358
c  0.582055  0.106183
d -0.980172  1.634451
e -0.977462  0.573579
f -1.016149  1.477980
g -0.095983 -0.973215
h  0.035723 -0.087230

In [19]:
import numpy as np
import pandas as pd
df=pd.DataFrame(np.random.randn(8,4),index=['a','b','c','d','e','f','g','h'], columns=['A','B','C','D'])
print(df)
df.loc[['a','b','c','d'],['A','B']]

          A         B         C         D
a -0.010590 -1.963849 -0.309203 -1.262028
b  0.008011 -0.270372  0.336760 -1.020229
c  2.467003  0.100091 -0.371350 -0.264560
d -0.296031  0.032959 -1.297304  0.623392
e  1.826455  0.860884  0.847563  1.649315
f -0.268436  1.524866 -0.184224  0.709528
g -0.761388  0.187654 -0.533461 -0.234342
h -0.317279 -0.050137 -0.382122 -1.040031

          A         B
a -0.010590 -1.963849
b  0.008011 -0.270372
c  2.467003  0.100091
d -0.296031  0.032959

In [20]:
import numpy as np
import pandas as pd
df=pd.DataFrame(np.random.randn(8,4),index=['a','b','c','d','e','f','g','h'], columns=['A','B','C','D'])
print(df)
df.loc['a':'d']>0

          A         B         C         D
a -0.719271 -0.801499 -0.793988 -1.238426
b -1.195608 -1.529185  0.348624  1.038450
c -0.089936  0.389394  0.076316 -0.686580
d  1.387720  1.235519 -0.252310 -1.274019
e  1.667619 -1.166068  1.024659 -0.207974
f  2.163503 -0.047383  0.566431 -0.668838
g -0.165947 -1.066001  0.285857 -0.968404
h  0.988945  1.096208 -0.385281  0.204490

       A      B      C      D
a  False  False  False  False
b  False  False   True   True
c  False   True   True  False
d   True   True  False  False

In [21]:
import numpy as np
import pandas as pd
df=pd.DataFrame(np.random.randn(8,4),index=['a','b','c','d','e','f','g','h'], columns=['A','B','C','D'])
print(df)
print (df.iloc[[1,3,5],[1,3]])
print (df.iloc[1:3,:])
print (df.iloc[:,1:3])

          A         B         C         D
a  0.626606 -0.489713 -0.255545  0.547272
b  1.225236 -0.363331 -0.489582  0.324406
c -0.998092  1.991627  0.567110 -0.694437
d  0.392780 -0.638818  0.007190  1.593209
e -0.882995 -1.149199 -0.315001 -2.353806
f -1.391026  1.704395 -0.355721 -0.049226
g -1.552867 -0.783283  0.728859  0.539621
h  0.460091 -0.065637 -0.967669 -0.446479
          B         D
b -0.363331  0.324406
d -0.638818  1.593209
f  1.704395 -0.049226
          A         B         C         D
b  1.225236 -0.363331 -0.489582  0.324406
c -0.998092  1.991627  0.567110 -0.694437
          B         C
a -0.489713 -0.255545
b -0.363331 -0.489582
c  1.991627  0.567110
d -0.638818  0.007190
e -1.149199 -0.315001
f  1.704395 -0.355721
g -0.783283  0.728859
h -0.065637 -0.967669

In [22]:
import numpy as np
import pandas as pd
df=pd.DataFrame(np.random.randn(4,4),index=['e','f','g','h'], columns=['A','B','C','D'])
print(df)
df=df.reindex(['a','b','c','d','e','f','g','h'])
print(df)

          A         B         C         D
e -0.335866  2.143187 -1.746646 -0.160026
f -0.747081 -0.042416 -0.777188  0.435503
g -0.244162 -0.503272  0.944796  0.060230
h  0.708101  0.982890  1.485700  0.689610
          A         B         C         D
a       NaN       NaN       NaN       NaN
b       NaN       NaN       NaN       NaN
c       NaN       NaN       NaN       NaN
d       NaN       NaN       NaN       NaN
e -0.335866  2.143187 -1.746646 -0.160026
f -0.747081 -0.042416 -0.777188  0.435503
g -0.244162 -0.503272  0.944796  0.060230
h  0.708101  0.982890  1.485700  0.689610

In [23]:
df['C'].isnull()

a     True
b     True
c     True
d     True
e    False
f    False
g    False
h    False
Name: C, dtype: bool

In [24]:
df.fillna(0)

          A         B         C         D
a  0.000000  0.000000  0.000000  0.000000
b  0.000000  0.000000  0.000000  0.000000
c  0.000000  0.000000  0.000000  0.000000
d  0.000000  0.000000  0.000000  0.000000
e -0.335866  2.143187 -1.746646 -0.160026
f -0.747081 -0.042416 -0.777188  0.435503
g -0.244162 -0.503272  0.944796  0.060230
h  0.708101  0.982890  1.485700  0.689610

In [25]:
import numpy as np
import pandas as pd
df=pd.DataFrame(np.random.randn(4,4),index=['e','f','g','h'], columns=['A','B','C','D'])
print(df)
df=df.reindex(['a','b','c','d','e','f','g','h'])
df=df.fillna(method='bfill') #backward fill
print(df)

          A         B         C         D
e -0.203302  0.621872  0.403400  1.428811
f -0.821816  0.103916 -1.084924  0.646309
g  2.523140 -1.470855  0.438684  0.989127
h  0.272950  1.424170 -1.521869 -0.254612
          A         B         C         D
a -0.203302  0.621872  0.403400  1.428811
b -0.203302  0.621872  0.403400  1.428811
c -0.203302  0.621872  0.403400  1.428811
d -0.203302  0.621872  0.403400  1.428811
e -0.203302  0.621872  0.403400  1.428811
f -0.821816  0.103916 -1.084924  0.646309
g  2.523140 -1.470855  0.438684  0.989127
h  0.272950  1.424170 -1.521869 -0.254612

In [26]:
import numpy as np
import pandas as pd
df=pd.DataFrame(np.random.randn(4,4),index=['e','f','g','h'], columns=['A','B','C','D'])
print(df)
df=df.reindex(['a','b','c','d','e','f','g','h'])
print(df)
print(df.dropna())

          A         B         C         D
e  0.148056 -0.217952 -0.067926  1.208688
f -0.387491 -0.125212  0.154293 -0.429993
g -0.054986  0.574139  2.290308 -0.172592
h -1.985555  0.184273 -2.232184  0.368587
          A         B         C         D
a       NaN       NaN       NaN       NaN
b       NaN       NaN       NaN       NaN
c       NaN       NaN       NaN       NaN
d       NaN       NaN       NaN       NaN
e  0.148056 -0.217952 -0.067926  1.208688
f -0.387491 -0.125212  0.154293 -0.429993
g -0.054986  0.574139  2.290308 -0.172592
h -1.985555  0.184273 -2.232184  0.368587
          A         B         C         D
e  0.148056 -0.217952 -0.067926  1.208688
f -0.387491 -0.125212  0.154293 -0.429993
g -0.054986  0.574139  2.290308 -0.172592
h -1.985555  0.184273 -2.232184  0.368587

In [27]:
import numpy as np
import pandas as pd
df=pd.DataFrame({'One':[10,20,300,40,50],'Two':[100,20,40,60,80]})
print(df.replace({100:10,300:30}))

   One  Two
0   10   10
1   20   20
2   30   40
3   40   60
4   50   80

In [ ]:
import numpy as np
import pandas as pd
sales=pd.DataFrame({'weekday':['sun','mon','tues'],'city':['bhagalpur','hoshiyarpur','nagpur'],'bread':})
print(df.replace({100:10,300:30}))