# insert

In [1]:
x=['a','b']

In [2]:
x.insert(2,'c')

In [3]:
x

['a', 'b', 'c']

# pop

In [4]:
lst=[1,2,3,4,5,6]

In [5]:
lst.pop()

6

In [6]:
lst

[1, 2, 3, 4, 5]

# copying a list

In [9]:
lista=[1,2,3,4]

In [10]:
listb=lista

In [11]:
print(listb)

[1, 2, 3, 4]

In [12]:
lista.pop()

4

In [13]:
lista

[1, 2, 3]

In [14]:
lista.append(9)

In [15]:
lista

[1, 2, 3, 9]

# tuples

In [16]:
t=(1,2,3,4,5,6)

In [17]:
print(t)

(1, 2, 3, 4, 5, 6)

# sets

In [18]:
set0=set([1,2,2,3,3,3,4,5,5])

In [19]:
set0

{1, 2, 3, 4, 5}

# union

In [20]:
set1=set([1,2,3])

In [21]:
set2=set([4,5,6])

In [22]:
print(set1.union(set2))

{1, 2, 3, 4, 5, 6}

# intersection

In [23]:
set1.intersection(set2)

set()

# strings

In [29]:
stro='Taj Mahal is Beautiful'
print(type(stro))

<class 'str'>

In [35]:
print(stro.lower())

taj mahal is beautiful

In [36]:
stro.replace('Taj Mahal','Medina')

'Medina is Beautiful'

In [37]:
stro[1]

'a'

# Dictionaries

In [38]:
dic={'id':12,'name':'sonu'}

In [39]:
dic

{'id': 12, 'name': 'sonu'}

In [40]:
dic.keys()

dict_keys(['id', 'name'])

In [41]:
dic.values()

dict_values([12, 'sonu'])

In [42]:
dic.items()

dict_items([('id', 12), ('name', 'sonu')])

In [53]:
dic.pop('name')

'sonu'

In [54]:
dic

{'id': 12}